<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="cargo_capacity">
      <mat-header-cell *matHeaderCellDef> MGLT</mat-header-cell>
      <mat-cell *matCellDef="let vehicles"> {{vehicles.cargo_capacity}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="consumables">
      <mat-header-cell *matHeaderCellDef> Cargo capacity</mat-header-cell>
      <mat-cell *matCellDef="let vehicles"> {{vehicles.consumables}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cost_in_credits">
      <mat-header-cell *matHeaderCellDef> Consumables</mat-header-cell>
      <mat-cell *matCellDef="let vehicles"> {{vehicles.cost_in_credits}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="crew">
      <mat-header-cell *matHeaderCellDef> Crew</mat-header-cell>
      <mat-cell *matCellDef="let vehicles"> {{vehicles.crew}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="length">
      <mat-header-cell *matHeaderCellDef> length</mat-header-cell>
      <mat-cell *matCellDef="let vehicles"> {{vehicles.length}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="manufacturer">
      <mat-header-cell *matHeaderCellDef> Manufacturer</mat-header-cell>
      <mat-cell *matCellDef="let vehicles"> {{vehicles.manufacturer}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pilots">
      <mat-header-cell *matHeaderCellDef> Pilots</mat-header-cell>
      <mat-cell *matCellDef="let vehicles"> {{vehicles.pilots}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="vehicle_class">
      <mat-header-cell *matHeaderCellDef> Starship class</mat-header-cell>
      <mat-cell *matCellDef="let vehicles"> {{vehicles.vehicle_class}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef> URL</mat-header-cell>
      <mat-cell *matCellDef="let vehicles"> {{vehicles.url}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row;columns: displayedColumns;"></mat-row>
  </mat-table>
</div>