<div>
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="director">
            <mat-header-cell *matHeaderCellDef> Director </mat-header-cell>
            <mat-cell *matCellDef="let film"> {{film.director}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="episode_id">
            <mat-header-cell *matHeaderCellDef> Episode ID</mat-header-cell>
            <mat-cell *matCellDef="let film"> {{film.episode_id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="opening_crawl">
            <mat-header-cell *matHeaderCellDef> Opening crawl</mat-header-cell>
            <mat-cell *matCellDef="let film"> {{film.opening_crawl}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="producer">
            <mat-header-cell *matHeaderCellDef> Producer</mat-header-cell>
            <mat-cell *matCellDef="let film"> {{film.producer}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="release_date">
            <mat-header-cell *matHeaderCellDef> Release date </mat-header-cell>
            <mat-cell *matCellDef="let film"> {{film.release_date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let film"> {{film.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
            <mat-cell *matCellDef="let film"> {{film.url}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row;columns: displayedColumns;"></mat-row>
    </mat-table>
</div>